<h1>{{msg}}</h1>
<ul>
    <li>
        <a href="/contact">Contact</a>
    </li>
    <li>
        <a href="/">Home</a>
    </li>
</ul>
<h4>Email was send by {{userName}}</h4>
<h4>Contact email {{userEmail}}</h4>